.fondo {
	background-image: url(https://c0.wallpaperflare.com/preview/900/707/759/shinjuku-japan-night-tokyo.jpg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
