
body {
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/287eab66-0f73-4b97-8e74-849c5f06d542/de9eocu-52621ac5-7dcf-4284-88f0-210c0b343f65.jpg/v1/fit/w_375,h_236,q_70,strp/crosswalk_by_anthonypresley_de9eocu-375w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODA3IiwicGF0aCI6IlwvZlwvMjg3ZWFiNjYtMGY3My00Yjk3LThlNzQtODQ5YzVmMDZkNTQyXC9kZTllb2N1LTUyNjIxYWM1LTdkY2YtNDI4NC04OGYwLTIxMGMwYjM0M2Y2NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sdfmG2WeVfKVjAcpPP0D2Em4sGrbnB5zIJIG4lnVOX8);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
